<ion-view view-title="Mombamomba">

    <ion-content class="container-fluid">
      <div class="row">
        <div class="col-md-offset-4 col-md-4">
          <div class="text-center">
            <img class="img img-responsive" src="img/Sedera_logo.jpg" alt="Sedera logo">
          </div>
          <h1 class="text-center">SEDERA</h1>
          <h6 class="text-center">Version {{ version }}</h6>
          <h6 class="hidden">AngularJS Version {{ angularVersion.full }}</h6>
          <br>
          <h2 class="text-center text-lowercase text-capitalize">Fihiranan'ny Union des Groupes Bibliques de Madagascar</h2>
          <br>
          <p>
            Ity <strong>"Application"</strong> ity dia <strong>"version"</strong> électronique ny Sedera fampiantsika
            any am-pivoriana izany dia natao mba afahantsika anana Sedera eny am-pelatanantsika
          </p>
          <p>
            Izany dia natao fa hita tokoa fa miahavitsy izao no manana Sedera.
            Izy ity dia natao maimaim-poana ho an'izay manana Téléphone Android.
          </p>

          <p>
            Tsy mbola azo lazaina mahafa-po misy zavatra be dia be tokony amboarina
          </p>

          <p>
            Ampiasao ka lazao raha misy zavatra tsikaritrao fa tsy mety
            na tokony amboarina, izany no natao ho fanatsarana azy.
          </p>

          <h3 class="text-center">Isaorana :</h3>
          <div class="text-info">
            <h4>- Andriamanitra nonemezany fahafahana anamboatra ity Application ity</h4>
            <h4>- Ny FOIBE ny UGBM nanome malalaka</h4>
            <h4>- Zk Hasina izay nanome SEDERA version pdf</h4>
            <h4>- Isaorana isika izay nandray anjara tamin'ny fanatsarana</h4>
          </div>
          <h3>Développeur:</h3>
          <div class="list-group">
            <a href="http://www.facebook.com/tovohery.z.pascal" class="list-group-item">
              <h4 class="list-group-item-heading">TOVOHERY Zafimanantsoa Pascal</h4>
              <p class="list-group-item-text"><span class="glyphicon glyphicon-education"></span> GBU Antsirabe</p>
              <p class="list-group-item-text">
                <span class="glyphicon glyphicon-earphone"></span> +261(0)34 25 160 25
              </p>
              <p class="list-group-item-text"><span class="glyphicon glyphicon-envelope"></span> tovoherypascal@gmail.com</p>
            </a>
          </div>
          <div class="alert">
            <h2 class="text-warning text-center">
              <span class="glyphicon glyphicon-warning-sign"></span>
              Tsy mahasolo velively ny SEDERA mahazatra.
            </h2>

            <h2 class="text-center text-danger"><span class="glyphicon glyphicon-ban-circle"></span> Tsy azo amidy</h2>
            <br>
            <h3 class="text-center">Samy hotahin'ny Tompo Daholo.</h3>
            <h1 class="text-center">:)</h1>
          </div>
        </div>
      </div>
    </ion-content>
</ion-view>
