<ion-view view-title="Mombamomba">

    <ion-content>

      <div class="row">
        <div class="col-lg-4">
          <img style="width: 64px; height: 64px" ng-src="img/ugbm_logo.png" alt="ugbm_logo">
        </div>
        <div class="col-lg-offset-4">
          <img style="width: 64px; height: 64px" ng-src="img/ugbm_logo.png" alt="ugbm_logo">
        </div>
      </div>

      <h1 style="text-align: center">NY UGBM</h1>
        <h2 style="text-decoration: underline; text-align: center">NY FOTO-PITINOAN'NY UGBM</h2><br>
        <h4 class="">Ny UGBM sy ny mpikambana tsirairay ao aminy dia mino fa</h4><br>
        <ol class="list list-inset">
          <li>1 . Ny Ray sy ny Zanaka ary Fanahy Masina dia Andriamanitra iray ihany.</li>
          <br>
          <li>2. Andriamanitra  dia  tompom-pahefana  (na  masimandidy)  tamin’ny
            famoronana, ny fitsarana ary ny fanambarana.</li>
          <br>
          <li>3. Ny  Soratra  Masina  dia  avy  tamin’ny  tsindrimandrin’Andriamanitra  ary
            mendri-pitokisana,  ny  fahefany  irery  ihany  no  manapaka  amin’izay
            rehetra mikasika ny finoana sy ny fiainan’ny mino.</li>
          <br>
          <li>4. Hatramin’ny fahalavoana dia mpanota tokoa ny olona rehetra ary meloka
            eo anatrehan’Andriamanitra; noho izany dia eo ambany- fahatezerany sy
            ny fanamelohany izy</li>
          <br>
          <li>5. Jeso  Kristy,  Ilay  Zanak’Andriamanitra  tonga  nofo,  dia  niharan’izany
            fanamelohana izany teo amin’ny toerantsika tamin’ny fahafatesany teo
            ambony  hazo  fijaliana.  Amin’ny  alalan’izany  fahafatesam-panavotana
            izany irery ihany no anafahan’Andriamanitra antsika amin’ny fahotana.</li>
          <br>
          <li>6. Jeso  Kristy  dia  nitsngana  tamin’ny  maty,  niakatra  any  an-danitra  ary
            mipetraka eo ankavanan’Andriamanitra Ray.</li>
          <br>
          <li>7. Ny  Fanahy  Masina  no  manatanteraka  ny  asam-panavaozana
            (fahateraham-baovao).</li>
          <br>
          <li>8. Noho  ny  fahasoavany,  Andriamanitra  manamarina  ny  olona  mpanota
            amin’ny alalan’ny finoana irery ihany; ny Fanahy Masina dia mitoetra ary
            miasa ao amin’ny mino.</li>
          <br>
          <li>9. Ny  fiangonana  tokana,  masina,  manerana  izao  tontolo  izao  izay
            iombonan’ny tena mpino rehetra, dia tenan’i Kristy</li>
          <br>
          <li>10. Hiverina Jeso Kristy ary ny fiangonana dia miandry izany</li>
        </ol>

        <p style="text-align: center"><b><i>(STATUT UGBM - Andininy faha-4)</i></b></p>
        <p>Marihina  fa  ny  foto-pinoan’ny  UGBM  misy  andininy  10  ireo  dia  iraisany
          amin’ny BASES DOCTRINALES-ny Groupes Bibliques eran’izao tontolo izao</p>
    </ion-content>
</ion-view>
