<ion-view view-title="Mombamomba">

    <ion-content>
      <div class="row">
        <div class="col-sm-3 col-sm-offset-3">
          <img class="img img-responsive img-circle" ng-src="img/Sedera_logo.png" alt="Sedera logo">
        </div>
        <div class="col-sm-12">
          <h1>SEDERA</h1>
          <h6>Version 1.0.0@dev</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <br>
          <h2 class="text-lowercase text-capitalize">Fihiranan'ny Union des Groupes Bibliques de Madagascar</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <br>
          <p>
            Ity <strong>"Application"</strong> ity dia <strong>"version"</strong> électronique ny Sedera fampiantsika
            any am-pivoriana izany dia natao mba afahantsika anana Sedera eny am-pelatanantsika
          </p>
          <p>
            Izany dia natao fa hita tokoa fa miahavitsy izao no manana Sedera.
            Izy ity dia natao maimaim-poana ho an'izay manana Téléphone Android.
          </p>

          <p>
            Tsy mbola azo lazaina mahafa-po misy zavatra be dia be tokony amboarina
          </p>

          <p>
            Ampiasao ka lazao raha misy zavatra tsikaritrao fa tsy mety
            na tokony amboarina, izany no natao ho fanatsarana azy.
          </p>

          <h3>Isaorana :</h3>
          <div class="text-info">
            <h4>- Andriamanitra nonemezany fahafahana anamboatra ity Application ity</h4>
            <h4>- Ny FOIBE ny UGBM, indrindra indrindra fa ny Groupe NY SEDERA noneme malalaka</h4>
            <h4>- Zk Hasina izay nanome SEDERA version pdf</h4>
          </div>
          <h3>Développeur:</h3>
          <div class="list-group">
            <a href="mailto:tovoherypascal@gmail.com" class="list-group-item">
              <h4 class="list-group-item-heading">TOVOHERY Zafimanantsoa Pascal</h4>
              <p class="list-group-item-text">GBU Antsirabe</p>
              <p class="list-group-item-text">
                Tél: +261(0)34 25 160 25
              </p>
              <p class="list-group-item-text">E-mail: tovoherypascal@gmail.com</p>
            </a>
          </div>
          <div class="alert">
            <h2 class="text-warning">
              <span class="glyphicon glyphicon-warning-sign"></span>
              Tsy mahasolo velively ny SEDERA mahazatra.
            </h2>

            <h2 class="text-danger"><span class="glyphicon glyphicon-ban-circle"></span> Tsy azo amidy</h2>
            <br>
            <h3>Samy otahin'ny Tompo Daholo.</h3>
            <h1>:)</h1>
          </div>
        </div>
      </div>
    </ion-content>
</ion-view>
