<div ng-controller="HiraCtrl">
    <ion-view class="padding" view-title="{{Sedera.titre}}">
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button></ion-nav-back-button>
        </ion-nav-bar>

        <ion-content style="text-align: center">
            <div style="" class="entete">
              <h1 style="color: rgb(0, 0, 0)">- {{Sedera.num}} -</h1>
              <h3 style="color: rgba(25, 71, 44, 0.78);text-decoration: underline;">{{Sedera.titre}}</h3>
            </div>
            <div class="contenu">
              <div class="col-md-3 col-md-offset-3 col-sm-3 col-sm-offset-3" ng-bind-html="Sedera.hira"></div>
              <p style="float: right; padding-right: 50px"><b>{{Sedera.mark | uppercase}}</b></p>
            </div>
        </ion-content>
    </ion-view>
</div>
