<ion-view view-title="Fandraisana">
  <ion-pane>
    <ion-content class="padding">
      <div class="col-md-6 col-md-push-3 col-lg-6 col-lg-push-3 col-sm-8 col-sm-push-2">
        <h4 class="text-center">TENY FANOLORANA</h4>
        <blockquote>
          <p>
            « ...  ary  handrantsana  sy  hamoa  izy  ka  ho  tonga  SEDERA  tsara indrindra »
          </p>
          <footer>Ezek 17 :23</footer>
        </blockquote>
        <p>
          Fifaliana ho anay ny manolotra anareo ity SEDERA fihiranan’ny
          UGBM ity. Tamin'ny taona 1984 dia nisy "Vaomera" nandinika ny fanotana azy fanintelony ka nivoaka ny taona 1991 izany. Nanao fanotana fahaefatra ny taona 2010 saingy vitsivitsy ihany.
        </p>
        <p>
          Izao fanotana fahadimy, amin'ny taona 2012 ity izao, dia hita fa tena ilaina satria tsy manana Sedera intsony ny akamaroan'ny Mpikambana kanefa isika tsy afa-miasa tsy miaraka amin'ny fiderana an'Andriamanitra sy ny voninahiny.
        </p>
        <p>
          Isaorana etoana Andriamanitra Izay nanolo-tsaina tamin'ny alalan'ny Fanahy Masina mandra-pahavitan'ny asa rehetra hatrizay ka hatramin'izao. Isaorana ireo olona nanolotra ny hira na nanome alalana malalaka ny hirany, ireo rahalahy sy anabavy nifandimby tao amin'ny "Vaomera SEDERA","ny Komity Foibe", "ny Groupe NY SEDERA" "ary koa isika tsirairay izay nahatsiaro am-bavaka ny fanamboarana azy.
        </p>
        <p>
          Ity SEDERA ity anie mba ho fitaovana mahomby eo an-tanan'Andriamanitra hanova fon'olona maro, hahatonga azy hitodika sy hahita an'i Jeso Kristy Izay Tompo sy Mpamonjy, hampahery izay reraka, hampitraka ny kivy, hampiorina izay tsy mitoetra tsara ary hampandroso izay rehetra mampiasa azy.
          Andeha isika
        <blockquote>
          <p>"Samy hihira fihiram-baovao ho an'i Jehovah, dia ny fiderana Azy hatramin'ny faran'ny tany"</p>
          <footer>Isaia 42.10</footer>
        </blockquote>
        Ny voninahitra anie ho an'Andriamanitra Ray sy Zanaka ary Fanahy Masina. Amen!
        </p>
        <center>
          <h4>NY UGBM</h4>
          <img class="img img-responsive" src="img/ugbm_logo.jpg" style="width: 200px; height: 200px;" alt="Logo UGBM">
          <h5>NY ATAO HOE UGBM</h5>
        </center>
        <p>
          Ny « <strong>U</strong>nion des <strong>G</strong>roupes Bibliques de <strong>M</strong>adagascar » <strong>(UGBM)</strong> dia Fiombonan’ny «  Groupes  Bibliques  Universitaires  <strong>(GBU)</strong>  »  sy  ny  «  Groupes  Bibliques Secondaires <strong>(GBS)</strong> »
          ary ny « Groupes Bibliques des Amis <strong>(GBA)</strong> »
        </p>
        <h5>ADIRESY FOIBE</h5>
        <p>-Lot IIF 35Ter Antsahameva Andraisoro 101 ANTANANARIVO</p>
        <p>- BP 4181</p>
        <p>- mailaka: ugbm@moov.mg</p>

        <p>
          NIFORONA teto Antananarivo tamin'ny taona 1971 ny Fikambanana tamin'ny alalan'ny mpianantra vitsivitsy miisa fito teny amin'ny Oniversiten'ny Madagasikara- Ankatso. Andriamatoa GERARD Kuntz mpampianatra matematika izay tera-tany vahiny no mpanorina azy.
        </p>
        <p>
          Hatramin'ny taona 1973 dia teny amin'ny Oniversitean'i Madagasikara teny Ankatso ihany no niasany ary "Groupe Biblique Universitaire de Madagascar" (GBUM) no anarana nentiny tamin'izany. Tamin'ny taona 1974 no nanomboka niitatra tany amin'ny sekoly Ambaratonga Faharoa ny Fikambanana sady niely tany amin'ny Faritany. Vokatr'izany dia niova ho "Union des Groupes Biblique de Madagascar"(UGBM) ny anarany taorian'ny Zaikabe Voalohany natao tao Antsirabe ny volana Desambra 1974-Janoary 1975.
        </p>
        <p>
          Isaorana ny Tompo fa amin'ny taona 2012 ity dia mahatratra 86 ny isan'ny GBS, izany hoe hita manerana ny Distrika 86 eo, 12 ny isan'ny GBU amina Distrika 12 any amin'ireo renivohi-paritany teo aloha sy tanàn-dehibe vitsivitsy, 34 ny GBA mirafitra tsara amina Distrika 34 eo, misy 10 ny GBA antenaina hirafitra tsara tsy ho ela amina Distrika 10 eo koa. Deraina ny Tompo noho ny fitaran'ny asa satria politikan'ny Fikambanana ny hoe <strong>"Sady manitatra no mandalim-paka"</strong> ka amin'ny taona 2021 izay hahafeno 50 taona ny UGBM dia tanjona ny haharakotra Groupes Bibliques ny Distrika rehetra miisa 119 manerana an'i Madagasikara raha sitrapon'ny Tompo ka mbola tsy miverina Izy.
        </p>

        <h4>FIKAMBANANA MANAO AHOANA NY UGBM ?</h4>
        <p>Ny UGBM dia Fikambanana ara-pilazantsara:</p>
        <ul>
          <li>
            ♣ Tsy manavakavaka fiangonana (Interdénominationnelle) fa miara-miasa amin’ny fiangonana  rehetra  maniry  izany.  Tsy  fiangonana  izy  ary  tsy  mitady  ho fiangonana fa mampirisika ny mpikambana tsirairay handray andraikitra sy hijoro vavolombelona any amin’izay fiangonana misy azy avy.
          </li>
          <br>
          <li>
            ♣ Tsy  manao  politika  (apolitique)  ary  tsy  miankina  amin’ny  antoko  politika kanefa mivavaka hatrany ho an’ny Mpitondra sy ny Firenena mba hisian’ny fandriampahalemana lalandava
          </li>
          <br>
          <li>
            ♣ Tsy  manao  fihetsiketsehana  hahazoam-bola  fa  mivelona  amin’ny fanomezana an-tsitrapo avy amin’ny mpikambana tsirairay sy ny Sakaizan’ny UGBM. Mba ho fampandrosoana ny asan’Andriamanitra dia raisin’ny UGBM an-tanan-droa  izay  mety  ho  fanomezana  malalaka  avy  amin’ny  Kristiana hafa, na fikambanana hafa avy eto an-toerana na any ivelany.
          </li>
          <br>
          <li>
            ♣ Iraisam-pirenena  (international)  satria  mpikambana  ao  amin’ny “Groupes  Bibliques  Universitaires  d’Afrique  Franconphone  (GBUAF)”  izay manana  ny  Foibeny  any  Abidjan-Côte  d’Ivoire.  Io  kosa  dia  mifandray amin’ny  “International  Fellowship  of  Evangelical  Students  (IFES)”  na  ny Fiombonamben’ny  Groupes  Bibliques  eran-tany  ka  ny  Foibeny  dia  ao Londres.
          </li>
          <br>
          <li>
            ♣ Ny  fototra  iorenan’ny  Fikambanana  sy  ny  mpikambana  ao  dia  ny TENIN’ANDRIAMANITRA raketin’ny Baiboly sady ny Tenin’Andriamanitra koa no fahefana fara-tampony mifehy ny fiainany.
          </li>
          <br>
        </ul>
        <h4 class="text-center">NY VINA</h4>
        <blockquote class="blockquote-reverse">
          <p>"Mahafantatra an'i Kristy sy mampahafantatra Azy amin'ny Mpianatra"</p>
          <footer>Ankapobeny</footer>
        </blockquote>
        <blockquote class="blockquote-reverse">
          <p>"Mpianatra voarafitra ao anatin'ny fiarahamonin'ny mpanara-dia an'i Kristy, voaovan'ny Filazantsara ary mitondra fanovana eo anivon'ny Oniversite, ny Fiangonana ary ny fiaraha monina mba ho voninahit'i Kristy"</p>
          <footer>Vina Vato Velona IFES 2020</footer>
        </blockquote>
        <blockquote class="blockquote-reverse">
          <p>"UGBM Mijoro, Mandroso, Mampandroso"</p>
          <footer>Paik'ady enti-mampandroso ny UGBM hatramin'ny 2021 na "Plan Global du Développement de l'UGBM 2021"</footer>
        </blockquote>
        <h4>NY ZAVA-KENDRENY SY NY FOMBA FIASANY</h4>
        <p>
          Ny  zava-kendren’ny  UGBM dia ny hampiaina ny mpikambana ao aminy ireo harem-panahy fototra ka:
        </p>

        <ol>
          <li>
            1. <strong>Fitoriana  ny Filazantsara amin’ny mpianatra</strong> eny amin’ny oniversite sy eny amin’ny sekoly ambaratonga faharoa. , ny  fampielezana  Baiboly  sy  ny  boky  ara-pilazantsara  ary  ny  fananganana Groupe Biblique any amin’ny toeram-baovao.
          </li>
          <br>
          <li>
            2. Fanofanana ny mpikambana hanana hetaheta lalina amin'ny Fandinihana ny Soratra Masina
          </li>
          <br>
          <li>
            3. Ny <strong>Vavaka</strong> : hanonkan-tena ho an'Andriamanitra feno amin'ny alalan'izany
          </li>
          <br>
          <li>
            4. Ny Fampielezana ny Baiboly sy ny Literatiora Kristianina
          </li>
          <br>
          <li>
            5. Ny Fanaovana Asa Misiona sy ny Fananganana Groupe Biblique any amin'ny toerana vaovao
          </li>
          <br>
        </ol>
        <p>Ny Fomba fiasa enti-manatratra izany dia ny :</p>
        <ul>
          <li>
            ♠ “Etude  Biblique” na  fiaraha-mandinika  ny  Baiboly
          </li>
          <br>
          <li>
            ♠ Toriteny na hafatra
          </li>
          <br>
          <li>
            ♠ Konferansa na Famelabelarana lohahevitra na boky ao amin'ny Baiboly
          </li>
          <br>
          <li>
            ♠ Fanaovana lasy na fitsangatsanganana,
          </li>
          <br>
          <li>
            ♠ Alim-bavaka sy ny androm-bavaka ary ny rojom-bavaka
          </li>
          <br>
          <li>
            ♠ Fitoriana ny Filazantsara manokana (Contact Personnel) na amin'ny alalan'ny fanaovana ho namana (Evangelisation Par Amitié), ny fitsidihana tokatrano (Porte à Porte), ny Fitoriana an-kira (gala évangélique, opéra, chorégraphie, comédie musicale...), ny coffee-house...
          </li>
          <br>
        </ul>
        <p>
          Tsara Marihina fa ny VAVAKA no maotera mampandeha ny Fikambanana, ary ny asa rehetra atao dia eo ambany fitarihan’ny Fanahy Masina.
        </p>

        NY MPIKAMBANA SY NY SAKAIZA
        Azo  raisina  ho  mpikambana  ao  amin’ny  Groupe  Biblique  Local  (GBL)  iray izay mpianatra eny amin’ny oniversite na eny amin’ny Sekoly ambaratonga faharoa ka manao fanekena ampahibemaso eo amin’ny fivoriambe:
        1.  Confession  de  foi: fanambarana  fa  izy  dia  mino  an’i  Jeso  Kristy  ho Mpamonjy  ary  manaiky  Azy  ho  Tompon’ny  fiainany  manokana.  Io  no antsoina hoe: “mandray an’i Jeso Kristy ho Tompo sy Mpamonjy”.
        2.  Confession  d’Adhésion: fanambarana  fa  izy  dia  vonona  hiara-miasa amin’ny Groupe Biblique rehetra eran’i Madagasikara, indrindra ny amin’ny fitoriana ny filazantsara amin’ny mpiara-mianatra rehetra avy nandinika ny Statut n’ny UGBM.
        <h6><u>Fanamarihana</u></h6>
        <p>
          Tsy  misy  saram-pidirana  ho an'izay maniry iditra ho  mpikambana  kanefa  tsy  maintsy manao ireo fanambarana ireo mazava tsara ny mpianatra iray vao ekena ho mpikambana izy.
        </p>
        <p>
          Antsoina hoe “SAKAIZAN’NY UGBM” ireo mpikambana tao amin’ny GBL iray fa  efa  tsy  mianatra  intsony,  ary  koa  izay  kristiana  mankasitraka  ny  fenitra ijoroan’ny UGBM ka manohana azy akaiky ara-pitaovana, ara-tsaina sy arapanahy.
        </p>
        <p>Efa tamin’ny taona 1976 no nisian’ny Sakaizan’ny Groupes Bibliques ary tokantrano vitsivitsy no mpikambana tao. Fa tamin’ny Filan-kevitry ny Sakaiza (FKS) natao tao Arivonimamo tamin’ny Aogositra 1989 no tapaka fa hatao hoe: “Association des Amis de l’UGBM” (ASA-UGBM) ny anarany, ary efa manana ny Statut-ny ara-dàlana izy.
        </p>
        <blockquote>
          <p>
            “Fa hahazo hery ianareo amin’ny hilatsahan’ny Fanahy Masina aminareo, ary ho vavolombeloko any Jerosalema sy eran’i Jodia sy Samaria ary hatramin’ny faran’ny tany”
          </p>
          <footer>Asa 1.8</footer>
        </blockquote>
        <p>
          **Raha misy maniry hahazo fanazavana bebe kokoa mikasika ny
          UGBM  dia  asaina  manokana  izy  hanatona  ny  toeram-pivorian’ny  Groupe Biblique isam-paritra na ny Foibe voalaza ery ambony.
        </p>
        <h5 class="text-right">NY KOMITY FOIBE</h5>

        <hr>

        <h2 style="text-decoration: underline; text-align: center">NY FOTO-PITINOAN'NY UGBM</h2><br>
        <h4 class="">Ny UGBM sy ny mpikambana tsirairay ao aminy dia mino fa</h4><br>
        <ol class="list list-inset">
          <li>1 . Ny Ray sy ny Zanaka ary Fanahy Masina dia Andriamanitra iray ihany.</li>
          <br>
          <li>2. Andriamanitra  dia  tompom-pahefana  (na  masimandidy)  tamin’ny
            famoronana, ny fitsarana ary ny fanambarana.</li>
          <br>
          <li>3. Ny  Soratra  Masina  dia  avy  tamin’ny  tsindrimandrin’Andriamanitra  ary
            mendri-pitokisana,  ny  fahefany  irery  ihany  no  manapaka  amin’izay
            rehetra mikasika ny finoana sy ny fiainan’ny mino.</li>
          <br>
          <li>4. Hatramin’ny fahalavoana dia mpanota tokoa ny olona rehetra ary meloka
            eo anatrehan’Andriamanitra; noho izany dia eo ambany- fahatezerany sy
            ny fanamelohany izy</li>
          <br>
          <li>5. Jeso  Kristy,  Ilay  Zanak’Andriamanitra  tonga  nofo,  dia  niharan’izany
            fanamelohana izany teo amin’ny toerantsika tamin’ny fahafatesany teo
            ambony  hazo  fijaliana.  Amin’ny  alalan’izany  fahafatesam-panavotana
            izany irery ihany no anafahan’Andriamanitra antsika amin’ny fahotana.</li>
          <br>
          <li>6. Jeso  Kristy  dia  nitsngana  tamin’ny  maty,  niakatra  any  an-danitra  ary
            mipetraka eo ankavanan’Andriamanitra Ray.</li>
          <br>
          <li>7. Ny  Fanahy  Masina  no  manatanteraka  ny  asam-panavaozana
            (fahateraham-baovao).</li>
          <br>
          <li>8. Noho  ny  fahasoavany,  Andriamanitra  manamarina  ny  olona  mpanota
            amin’ny alalan’ny finoana irery ihany; ny Fanahy Masina dia mitoetra ary
            miasa ao amin’ny mino.</li>
          <br>
          <li>9. Ny  fiangonana  tokana,  masina,  manerana  izao  tontolo  izao  izay
            iombonan’ny tena mpino rehetra, dia tenan’i Kristy</li>
          <br>
          <li>10. Hiverina Jeso Kristy ary ny fiangonana dia miandry izany</li>
        </ol>

        <p style="text-align: center"><b><i>(STATUT UGBM - Andininy faha-4)</i></b></p>
        <p>Marihina  fa  ny  foto-pinoan’ny  UGBM  misy  andininy  10  ireo  dia  iraisany
          amin’ny BASES DOCTRINALES-ny Groupes Bibliques eran’izao tontolo izao</p>
          <a class="btn btn-primary btn-md" href="#/sedera" role="button">SEDERA »</a>
      </div>
    </ion-content>
  </ion-pane>
</ion-view>
