<ion-view view-title="" class="padding" ng-controller="SederaCtrl">
  <ion-header-bar class="bar-positive">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
    </ion-header-bar>
      <ion-header-bar class="bar-light bar-subheader">
        <input type="search"
          placeholder="15 na 'Raha eo am-pahitana'"
          ng-model="search">

        <button ng-if="search.length"
          class="button button-icon ion-android-close input-button"
          ng-click="clearSearch()">
        </button>
      </ion-header-bar>
  <ion-content style="top: 85px" overflow-scroll="true" class="has-header">
    <ion-list>
      <ion-item class='item-icon-right'
                collection-repeat="sedera in sederas | filter:search"
                href="#/sedera/{{sedera.num}}">
        <h1 style="display: inline; color: black; padding: 10px;">{{sedera.num}}</h1>
        <p style="display: inline; padding: 5%;">{{sedera.titre}}</p>
        <p class="hidden">{{sedera.hira}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!-- <div ng-if="">
              <div class="card">
                <div class="item item-text-wrap">
                  Ooups ! Tsy hita na misy diso ny hira tadiavinao ! Avereno indray mandeha
              </div> -->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
