.row-title {
    height: 60px; line-height: 60px;
    text-transform: uppercase;
    background-color: #cb314b;
    @include border-raduis(4px 4px 0 0);
    @include background-clip(padding-box);
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}
.row {
    height: 60px;
    background-color: #394163;
}